---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>

  <article class="max-w-3xl mx-auto px-6 py-12">
    <header class="mb-12 text-center">
      <!-- <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold text-yellow-500">
        {frontmatter.title}
      </h1> -->
      <p class="mt-4 text-gray-400 italic">
        {frontmatter.description}
      </p>
      <p class="mt-2 text-sm text-gray-500">
        Written by: {frontmatter.author}
      </p>
      {frontmatter.image && (
        <img 
          src={frontmatter.image.url} 
          alt={frontmatter.image.alt}
          class="mt-8 mx-auto rounded-lg border border-yellow-600/30"
        />
      )}
    </header>
    <div class="prose prose-invert max-w-none
                prose-headings:text-yellow-500
                prose-strong:text-yellow-400
                prose-a:text-yellow-400
                prose-a:no-underline hover:prose-a:underline
                prose-blockquote:border-yellow-500
                prose-code:text-yellow-400
                prose-hr:border-yellow-700/30">
      <slot />
    </div>
  </article>
</BaseLayout>